
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1>Login</h1>
            <br>
            {{#if str}}
                 <p class="alert alert-danger"> {{ str }}</p>
            {{/if}}
            <form class="form" method="POST" action="/login">
                <div class="form-group">
                    E-Mail : 
                    <input type="email" name="t1" class="form-control" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    Password : 
                    <input type="password" name="t2" class="form-control" placeholder="Enter password">
                </div>
                <div class="form-group">
                    <input type="submit" name="b1" class="btn btn-success" value="LOGIN">
                    <a href="/reg_1" >REGISTER</a>
                </div>
            </form>
        </div>
    </div>
</div>