
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <p class="alert alert-danger">Register</p>
            <form class="form" method="POST" action="/reg">
                <div class="form-group">
                    Name : 
                    <input type="text" name="t0" class="form-control" placeholder="Enter Name">
                </div>
                <div class="form-group">
                    E-Mail : 
                    <input type="email" name="t1" class="form-control" placeholder="Enter Email">
                </div>
                <div class="form-group">
                    Password : 
                    <input type="password" name="t2" class="form-control" placeholder="Enter password">
                </div>
                <div class="form-group">
                    <input type="submit" name="b1" class="btn btn-success" value="REGISTER">
                    <a href="/" >LOGIN</a>
                </div>
            </form>
        </div>
    </div>
</div>